/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# custom
.DS_Store
dist/*
public/dist/
public/mix-manifest.json
public/assets/css/app.min.css
public/assets/css/combined.min.css
public/assets/js/combined.min.js
public/assets/images/
public/assets/files/